@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

.hoverBtn {
  transition: all 0.4s ease 0s !important;
  cursor: pointer;
}
.hoverBtn:hover {
  transform: scale(1.15);
  overflow: hidden !important;
}

.hoverImg {
  width: 100%;
  transition: 0.5s all ease-in-out;
}

.hoverImg:hover {
  transform: scale(1.5);
}

.transition-bg {
  transition: 0.5s all ease-in-out;
}


.images::-webkit-scrollbar {
  display: none;
}


.images {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}


@keyframes placeholderShimmer{
  0%{
    background-position: -468px 0
  }
  100%{
    background-position: 468px 0
  }
}
.shimmer {
  animation-duration: 1.6s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeholderShimmer;
  animation-timing-function: linear;
  background: darkgray;
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  background-size: 800px 104px;
  position: relative;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fade-in 1s forwards;
}




@keyframes beat {
  0%, 100% {
    transform: scale(9);
  }
  50% {
    transform: scale(5.25);
  }
}